@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 60% 98%;
    --foreground: 224 71% 4%;
    --card: 250 60% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 250 60% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 347 77% 72%;
    --accent-foreground: 356 100% 13%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 221 83% 53%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 250 60% 98%;
    --card: 224 71% 6%;
    --card-foreground: 250 60% 98%;
    --popover: 224 71% 6%;
    --popover-foreground: 250 60% 98%;
    --primary: 221 83% 63%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 65%;
    --accent: 347 77% 62%;
    --accent-foreground: 356 100% 93%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 221 83% 63%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
